.NBA{
    background: white;
    font-size: 15px;
    border: 2px solid #000;
    margin-right: 950px;
    text-align: center;
    
}
p{
    margin: 0px;
}
.azul{
    background-color: rgb(102, 198, 230);
}
